<!-- Resume Section Start -->
<div id="resume" class="section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="education wow fadeInRight" data-wow-delay="0.3s">
            <ul class="timeline">
              <li>
                <i class="icon-graduation"></i>
                <h2 class="timelin-title">Education</h2>
              </li>
              <li>
                <div class="content-text">
                  <h3 class="line-title">Bsc in CS - University of Rwanda(KIST)</h3>
                  <span>2016 - 2020</span>
                  <p class="line-text"> Bachelor's degree with Honor in Computer Science.</p>
                </div>
              </li>
              <li>
                <div class="content-text">
                  <h3 class="line-title">Python for Data Science and Machine Learning Bootcamp</h3>
                  <span>Jun 2021 - Aug 2021</span>
                  <p class="line-text">Checkout my Udemy <a href="https://www.udemy.com/certificate/UC-db0c1797-fdde-4824-a79f-a8da48595dd9/"
                      target="_blank">Certificate</a>.</p>
                </div>
              </li>
              <li>
                <div class="content-text">
                  <h3 class="line-title">Python for Computer vision with OpenCV and Deep Learning online.</h3>
                  <span>May 2021 - May 2021</span>
                  <p class="line-text">Checkout my Udemy <a href="https://www.udemy.com/certificate/UC-709ab492-147b-4314-9216-b66f922ad826/"
                      target="_blank">Certificate</a>.</p>
                </div>
              </li>
              <li>
                <div class="content-text">
                  <h3 class="line-title">Higher Secondary School - Kagarama Secondary School(KSS)</h3>
                  <span>2013 - 2015</span>
                  <p class="line-text">Advanced level Diploma, Mathematics Physics and Chemistry.</p> 
                </div>
              </li>
              <li>
                <div class="content-text">
                  <h3 class="line-title">Secondary School - Ruhango secondary school</h3>
                  <span>2010 - 2012</span>
                  <p class="line-text">ordinary level certificate.</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="experience wow fadeInRight" data-wow-delay="0.6s">
            <ul class="timeline">
              <li>
                <i class="icon-briefcase"></i>
                <h2 class="timelin-title">Experience</h2>
              </li>
              <li>
                <div class="content-text">
                  <h3 class="line-title">Robotics and software engineer - Zorabots Africa Ltd.</h3>
                  <span>April 2021</span>
                </div>
              </li>
              <li>
                <div class="content-text">
                  <h3 class="line-title">Software Developer Intern - Zorabots Africa Ltd.</h3>
                  <span>Sept 2020 - April 2021</span>
                </div>
              </li>
              <!-- <li>
                <div class="content-text">
                  <h3 class="line-title">IT Support  - SP ltd</h3>
                  <span>Jun 2018 - Sep 2018</span>
                </div>
              </li>
              <li>
                <div class="content-text">
                  <h3 class="line-title">Fullstack Developer - LeasingMarket</h3>
                  <span>Jun 2017 - Aug 2017</span>
                </div>
              </li>
              <li>
                <div class="content-text">
                  <h3 class="line-title">Software Developer intern- Great Lakes Energy</h3>
                  <span>Apr 2016 - Aug 2016</span>
                </div>
              </li> -->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Resume Section End -->
